!!! 5
%html{ lang: 'en-GB' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1.0, width=device-width' }/
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }/
    %meta{ name: 'description', content: data.site.description }/
    %meta{ itemprop: 'name', content: data.site.title }/
    %meta{ itemprop: 'description', content: data.site.description }/
    %meta{ itemprop: 'image', content: "#{data.site.root}/apple-touch-icon.png" }/
    %meta{ name: 'twitter:card', content: data.app.name }/
    %meta{ name: 'twitter:site', content: "@#{data.contact.twitter}" }/
    %meta{ name: 'twitter:title', content: data.site.title }/
    %meta{ name: 'twitter:description', content: data.site.description }/
    %meta{ name: 'twitter:creator', content: "@#{data.contact.twitter}" }/
    %meta{ name: 'twitter:image', content: "#{data.site.root}/apple-touch-icon.png" }/
    %meta{ property: 'og:title', content: data.site.title }/
    %meta{ property: 'og:type', content: '' }/
    %meta{ property: 'og:url', content: data.site.root }/
    %meta{ property: 'og:image', content: "#{data.site.root}/apple-touch-icon.png" }/
    %meta{ property: 'og:description', content: data.site.description }/
    %meta{ property: 'og:site_name', content: data.app.name }/
    %meta{ name: 'apple-itunes-app', content: 'app-id=1130463861'}/

    %title= data.site.title

    = javascript_include_tag '//code.jquery.com/jquery-3.1.1.min.js', integrity: 'sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=', crossorigin: 'anonymous'
    = javascript_include_tag :application
    = stylesheet_link_tag :application

  - body_classes = page_classes
  - body_classes += ' development' if development?
  %body{ class: body_classes }
    = yield
    = partial 'google_analytics'
