.banner
  .banner-image
  .container-fluid
    %header.text-center.text-md-left
      .row
        .col-md-8
          .banner-title.text-left
            = link_to data.app.url do
              = image_tag '/apple-touch-icon.png', width: 102, height: 102, class: 'app-icon'
            %h1= data.app.name
            %p.tag-line= data.app.tag_line
        .col-md-4.text-md-right
          = link_to data.app.url, class: 'app-store-button' do
            = retina_image_tag 'app-store.png', width: 219, height: 76

  #video
    .container-fluid
      %h2.sr-only Video of Statto
      .ipad
        %iframe{ src: 'https://player.vimeo.com/video/183842052?title=0&byline=0&portrait=0', width: 640, height: 480, frameborder: 0, allowfullscreen: true }

%section#features
  .container-fluid
    %h2.sr-only Features and Testimonials

    %figure.testimonial
      %blockquote
        :kramdown
          We used Statto to help select the Dutch national mixed team for WCBU and sent trialees screenshots of their individual stats afterwards. The feedback was overwhelmingly positive. I'm very impressed with the app.
      %figcaption
        .testimonial-name David Sparks, WUGC ‘16 Netherlands Open, WCBU ‘17 Netherlands Mixed
        = retina_image_tag "david-sparks.jpg", class: 'testimonial-avatar rounded-circle', alt: 'David Sparks', width: 80, height: 80

    .feature.row
      .col-md-4.push-md-8
        :kramdown
          ###Real-time Insights

          Quickly switch views during a time-out to see live stats for the game you are tracking. Pitch heatmaps, pass completion rate, scoring efficiency percentages and more can help you make informed tactical decisions on the sideline.
      .col-md-8.pull-md-4
        = retina_image_tag 'heatmap.png', class: 'img-fluid'

    .feature.row
      .col-md-4
        :kramdown
          ###Simple Player Selection

          During half-time, check how players are performing to gauge their pitch-time. Filter players by how many points they've played to see who needs to get on and who's being overworked.

          Sort players into groups like 'D Line' or 'Handlers' to make selecting who is on the line a breeze.

      .col-md-8
        = retina_image_tag 'player-profile.png', class: 'img-fluid'

    .feature.row
      .col-md-4.push-md-8
        :kramdown
          ###Pitch-level Detail

          Simply tap on the pitch to record the locations of passes, blocks, stall outs and more with less effort than tallying on paper.

          No video footage from a muddy battle on Pitch 14? No problem. Review games back at home by scrolling through the Play By Play and see everything drawn on the pitch.

      .col-md-8.pull-md-4
        = retina_image_tag 'tracker.png', class: 'img-fluid img-bordered', width: 700, height: 396

    %figure.testimonial
      %blockquote
        :kramdown
          The UAE national team was heading to Amman to play in the MENA 2016 championships so I thought I would give Statto a try. It's super slick. Seriously great. Quick and easy to use which is key to following a game and recording stats.
      %figcaption
        .testimonial-name Patrick Fourcampre-Maye, WCBU ‘17 UAE Mixed
        = retina_image_tag "patrick-fourcampre-maye.jpg", class: 'testimonial-avatar rounded-circle', alt: 'Patrick Fourcampre-Maye', width: 80, height: 80


%section#pricing
  .container-fluid
    .text-center.text-sm-left
      = link_to data.app.url, class: 'app-store-button mb-1 float-sm-right' do
        = retina_image_tag 'app-store.png', width: 164, height: 57

      %h2
        Try Statto <strong>free for 2 weeks</strong>,
        %br.hidden-lg-up.hidden-xs-down/
        then use it forever for just <strong class="price">#{data.app.price}</strong>.

      %p.pricing-hint
        <span class="price">#{data.app.price}</span> a bit pricey? Ask if your team will
        %br.hidden-lg-up.hidden-xs-down/
        chip in a small amount to see their stats.

    .row.pricing-lists
      .col-md-6
        :kramdown
          ###What you get:
          - Statto for iPhone and iPad with a single purchase
          - Unlimited teams, games and players
          - No recurring fees or additional in-app purchases to unlock features
          - Personal email support from the developer, Sam (a fellow Ultimate player in the UK)

      .col-md-6
        :kramdown
          ###Planned for future updates (with your support):
          - More advanced charts for players and teams
          - Player rankings for team stats
          - Pull and time-out tracking
          - Web publishing to share stats publicly
          - ...and much more!

%section#stats
  .container-fluid
    %h2.text-center Insights Provided by Statto

    .row.stat-lists
      .col-md-4
        %h3.text-md-center Game
        :kramdown
          - Full play-by-play for review, with each possession drawn out on a pitch map
          - Point difference over the course of the game
          - Scoring efficiency for O and D per point or possession
          - Defensive turnover efficiency
          - Pass completion
          - Point recovery rate (likelihood of scoring having turned over)
          - Heatmaps of assist attempts, defensive blocks and incomplete throws

      .col-md-4
        %h3.text-md-center Player
        :kramdown
          - Box score of basic stats like points played, touches, goals, assists, blocks and turnovers
          - Plus/minus score
          - Radar chart of role and impact relative to teammates
          - Scoring efficiency on O and D
          - Defensive turnover efficiency
          - Throw completion
          - Offensive ultization (percentage of points played with touches)
          - Heatmaps of assists, defensive blocks and turnovers

      .col-md-4
        %h3.text-md-center Team
        :kramdown
          - Win/loss ratio
          - Scored/conceded ratio
          - Turnover rate per point
          - Top players by assists, goals, blocks and pitch time
          - Scoring efficiency for O and D per point or possession
          - Defensive turnover efficiency
          - Pass completion
          - Point recovery rate (likelihood of scoring having turned over)

    %h3.text-center Plus fine-grained detail in CSV exports and more charts in the works!

%section#contact
  .container-fluid
    .row
      .col-md-6
        %h2 Get in Touch
        %ul.social-list
          %li
            = link_to "mailto:#{percent_obfuscate(data.contact.email)}" do
              %i.icon.icon-email
              = entity_obfuscate(data.contact.email)

          %li
            = link_to "https://twitter.com/#{data.contact.twitter}" do
              %i.icon.icon-twitter
              = "@#{data.contact.twitter}"

          %li
            = link_to "https://facebook.com/#{data.contact.facebook}" do
              %i.icon.icon-facebook
              = data.contact.facebook

      .col-md-6
        %h2.invisible The Developer
        = retina_image_tag 'sam-rayner.jpg', alt: 'Sam Rayner', width: 100, height: 100, class: 'rounded-circle float-right ml-1 mb-1'
        :kramdown
          [Sam Rayner][sr] has played Ultimate since 2009 including EUC 2015 and WUGC 2016 with [GB Mixed][gbx]. He works as an iOS developer in Sheffield, UK and captains [East Midlands Open][emo].

          [sr]: http://www.samrayner.com
          [gbx]: http://www.ukultimate.com/national_teams/gb_senior_squads_201516/gb_mixed_2016
          [emo]: https://www.facebook.com/EmoUltimate

%section#faq
  .container-fluid
    %h2 Frequently Asked Questions

    %dl
      %dt Will Statto work on my Android device or Windows tablet?
      %dd
        :kramdown
          Sorry, Statto is only available for the iPhone and iPad at the moment. I'm afraid I don't plan to release a version for Android or Windows devices.

      %dt Why is Statto so expensive?!
      %dd
        :kramdown
          I understand, most apps on the App Store are very cheap, if not free. For niche apps like Statto such low pricing is unsustainable and even popular ones end up neglected. I want to support users and improve Statto for years.

          If you're a coach, consider asking the club or university to cover the expense. Your team might also be willing to pitch in a small amount to see their own stats.

      %dt What happens when my 2-week free trial expires?
      %dd
        :kramdown
          You'll still be able to view and export stats for all of your teams, games and players but you won't be able to track any more games until you purchase Statto.

      %dt Can I track two teams at once?
      %dd
        :kramdown
          Statto is designed to only track one team at a time. Tracking both sides of a game is too frantic to do live. If you need to track both, consider filming the game and watching it through twice.

      %dt Do the stats I track get uploaded anywhere?
      %dd
        :kramdown
          Not unless you share them yourself! Your data is all stored locally on your iPhone or iPad to protect your team's privacy. There are plans to make sharing stats publicly easier in future.

      %dt I want to do my own analysis. Can I get at the raw data?
      %dd
        :kramdown
          Absolutely! You can export all of the raw stats in CSV format from inside the app. If you have any more questions about doing your own data analysis, feel free to email me at #{ link_to entity_obfuscate(data.contact.email), "mailto:#{percent_obfuscate(data.contact.email)}" }.

%footer
  .container-fluid
    %small
      Copyright &copy; #{Date.today.year}, Sam Rayner. All rights reserved.
