.banner
  .banner-image
  .container
    %header.text-xs-center.text-lg-left
      .row
        .col-lg-8
          .banner-title.text-xs-left
            = image_tag '/apple-touch-icon.png', width: 102, height: 102, class: 'app-icon'
            %h1= data.app.name
            %p.tag-line= data.app.tag_line
        .col-lg-4.text-lg-right
          -# = link_to '#', class: 'app-store-button' do
          -#   = retina_image_tag 'app-store.png', width: 219, height: 76
          .coming-soon-button
            = retina_image_tag 'coming-soon.png', width: 219, height: 76

  #video
    .container
      %h2.sr-only Video of Statto
      .ipad
        %iframe{ src: 'https://player.vimeo.com/video/183842052?title=0&byline=0&portrait=0', width: 640, height: 480, frameborder: 0, allowfullscreen: true }

%section#features
  .container
    %h2.sr-only Features and Testimonials

    -# %figure.testimonial
    -#   %blockquote
    -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit quam eu nisl pellentesque aliquam.
    -#   %figcaption
    -#     .testimonial-name Mario O‘Brien
    -#     = retina_image_tag "mario-o-brien.jpg", class: 'img-circle', alt: 'Mario O‘Brien', width: 80, height: 80

    .feature.row
      .col-lg-4.push-lg-8
        %h3 Real-time Insights
        %p Quickly switch views during a time-out to see visualised statistics for the game you are tracking live. Pitch heatmaps, pass completion rate, scoring efficiency percentages and more help you make informed tactical decisions on the sideline.
      .col-lg-8.pull-lg-4
        = retina_image_tag 'heatmap.png', class: 'img-fluid'

    -# %figure.testimonial
    -#   %blockquote
    -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit quam eu nisl pellentesque aliquam.
    -#   %figcaption
    -#     .testimonial-name Mario O‘Brien
    -#     = retina_image_tag "mario-o-brien.jpg", class: 'img-circle', alt: 'Mario O‘Brien', width: 80, height: 80

    .feature.row
      .col-lg-4
        %h3 Simple Player Selection
        %p During half-time, check how players are performing to gauge their pitch-time. Filter players by how many points they’ve played to see who needs to get on and who’s being overworked.
        %p
          %strong Coming Soon:
          Group players by role or line by assigning them tags like ‘D-line’, ‘handler’ or ‘tall’ then easily filter players to call balanced lines that best suit the moment.
      .col-lg-8
        = retina_image_tag 'player-stats.png', class: 'img-fluid'

    -# %figure.testimonial
    -#   %blockquote
    -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit quam eu nisl pellentesque aliquam.
    -#   %figcaption
    -#     .testimonial-name Mario O‘Brien
    -#     = retina_image_tag "mario-o-brien.jpg", class: 'img-circle', alt: 'Mario O‘Brien', width: 80, height: 80

    .feature.row
      .col-lg-4.push-lg-8
        %h3 Pitch-level Detail
        %p Draw plays on the pitch as they happen to record assists, hockey assists, turnovers, blocks and more. Record more detail than ever with less effort than tallying on paper.
        %p No footage from a rainy battle on Pitch 14? No problem. Review games back at home by scrolling through the Play By Play and see everything drawn out on the pitch.
      .col-lg-8.pull-lg-4
        .embed-responsive.embed-responsive-16by9
          %video.embed-responsive-item{ width: 640, height: 360, autoplay: true, loop: true, controls: true, onplaying: 'this.controls=false' }
            %source{ src: 'assets/videos/chaining.mp4', type: 'video/mp4' }


%section#pricing
  .container
    %h2.text-xs-center
      Try Statto <strong>free & unlimited for 1 month</strong>.
      %br.hidden-lg-up.hidden-sm-down/
      Then, if you like it, just <strong>$39.99 per year</strong>.

    .row.pricing-lists
      .col-md-6
        %h3 This includes:
        %ul
          %li Free updates for the duration of your subscription with new features, improvements and fixes
          %li Personal email support from the developer, Sam (a fellow Ultimate player in the UK)
          %li No limitations on teams, games or players
          %li No additional in-app purchases to unlock features
          %li Ability to cancel at any time and continue to use Statto for the remainder of the paid year

      .col-md-6
        %h3 Planned for future updates (with your support):
        %ul
          %li Statto for iPhone
          %li Pull and time-out tracking
          %li iPad split-screen multitasking support so you can watch and track game footage on the same screen
          %li Custom player grouping to quickly filter players when calling lines
          %li Beach and Indoor Ultimate modes
          %li Game auto live-tweeting
          %li ...and much more!

%section#contact
  .container
    .row
      .col-md-6
        %h2 Get in Touch
        %ul.social-list
          %li
            = link_to "mailto:#{data.contact.email}" do
              %i.icon.icon-email
              = data.contact.email

          %li
            = link_to "https://twitter.com/#{data.contact.twitter}" do
              %i.icon.icon-twitter
              = "@#{data.contact.twitter}"

          %li
            = link_to "https://facebook.com/#{data.contact.facebook}" do
              %i.icon.icon-facebook
              = data.contact.facebook

      .col-md-6
        %h2.invisible The Developer
        = retina_image_tag 'sam-rayner.jpg', alt: 'Sam Rayner', width: 100, height: 100, class: 'img-circle pull-xs-right m-l-1 m-b-1'
        %p #{link_to 'Sam Rayner', 'http://www.samrayner.com'} (Toast) has played Ultimate since 2009 including EUC 2015 and WUGC 2016 with GB Mixed. He works as a freelance iOS and Web developer in Sheffield, UK where he coaches the local club and university teams.


%section#faq
  .container
    %h2 Frequently Asked Questions

    %dl
      %dt Will Statto work on my iPhone, Android device or Windows tablet?
      %dd
        %p Sorry, Statto is only available for the iPad at the moment. Support for the iPhone is planned for the near future! I’m afraid I don’t plan to release a version for Android or Windows devices though.

      %dt Why is Statto so expensive?!
      %dd
        %p I understand, most apps on the App Store are very cheap, if not free. For niche apps like Statto such low pricing is unsustainable and even popular ones end up neglected. I want to support users and improve Statto for years.
        %p If you’re a coach, consider asking the club or university to cover the expense. Your teammates might also be willing to pitch in a little each season to see their own individual stats.

      %dt Can I track two teams at once?
      %dd
        %p Statto is designed to only track one team at a time. Tracking both sides of a game is too frantic to do live! If you need to track both, consider filming the game and watching it through twice.

      %dt Do the stats I track get uploaded anywhere?
      %dd
        %p Not unless you share them yourself! Your data is all stored locally on your iPad.

      %dt I want to do my own analysis. Can I get at the raw data?
      %dd
        %p Absolutely! You can export all of the raw stats in CSV format from inside the app. You can also back up the SQL file that Statto uses to store the data so you can query it yourself if you’re a nerd like me. If you have any more questions about doing your own data analysis, email me at #{ mail_to data.contact.email }.

%footer
  .container
    %small
      Copyright &copy; #{Date.today.year}, Sam Rayner. All rights reserved.
